.navbar {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 18px;
  display: flex;
  align-items: center; /* Align items vertically */
  justify-content: space-between; /* Space between logo and links */
  padding: 0px 20px;
  margin: 10px 50px 0px 50px;
  width: 850px;
  z-index: 5;
}

/* Logo styling */
.navbar .logo {
  font-family: Helvetica, sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #d9d9d9;
  text-decoration: none;
  white-space: nowrap; /* Prevents text wrapping */
}

/* Links container */
.navbar .links {
  display: flex;
  gap: 40px; /* Space between links */
}

/* Links styling */
.navbar .links a {
  text-decoration: none;
  font-size: 18px;
  color: #d9d9d9;
  font-family: Helvetica, sans-serif;
  font-weight: 200;
  position: relative; /* For hover underline effect */
  transition: color 0.3s ease;
}

/* Hover effect */
.navbar .links a:hover {
  color: #d9d9d9;
}

.navbar .links a::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #d9d9d9;
  transition: width 0.3s ease;
}

.navbar .links a:hover::after {
  width: 100%;
}

.about-container {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 20px;
  display: flex;
  align-items: center; /* Align items vertically */
  justify-content: space-between; /* Space between logo and links */
  padding: 3px 20px;
  margin: 10px 50px 70px 50px;
  z-index: 5;
}

/* Text Section */
.about-text {
  display: flex;
  flex-direction: column;
}

/* Content */
.about-content {
    color: #ffffff;
    font-size: 25px;
    font-weight: 200;
    text-align: right;
    line-height: 1.5;
    padding: 10px 20px 10px 20px;
    margin: 10px 40px 20px 40px;
  }

/* Heading */
.about-title {
  margin: 30px 80px 15px 20px;
  padding: 0px;
  font-size: 48px;
  color: #ffffff;
}


.features-container h1 {
  font-size: 48px;
  text-align: right;
  flex-wrap: wrap;
  padding: 10px 100px 20px 550px;
}

.working-container {
  background-image: url(../assets/bg-grid.svg);
  padding: 30px 10px 180px 30px;
  z-index: 1;
}

.opener {
  font-size: 48px;
  text-align: left;
  flex-wrap: wrap;
  padding: 10px 50px 20px 10px;
}

.cards-container {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
  gap: 20px;
  padding: 20px 10px;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
}

.cards {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 20px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: center; /* Align items vertically */
  justify-content: space-between; /* Space between logo and links */
  overflow: scroll;
  max-width: 430px;
  height: 240px;
  padding: 3px 20px;
  margin: 10px 0px 150px 0px;
  z-index: 999;
}

.cards h2 {
  font-size: 30px;
  text-align: left;
  justify-content: left;
  margin: 20px 25px 0px 10px;
}

.cards p {
  font-size: 22px;
  margin: 30px 10px;
}

.card-title {
  padding: 10px 120px 10px 0px;
}

.closer {
  text-align: center;
}

.bottom-btn {
  background: linear-gradient(
    180deg,
    rgba(129, 129, 129, 0.5),
    rgba(50, 50, 50, 0.3)
  );
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 15px;
  color: #d9d9d9;
  font-size: 24px;
  font-weight: 900;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto; /* This will center the button horizontally */
  width: fit-content; /* This ensures the button only takes up as much width as needed */
}

.footer-container {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 20px 20px 0px 0px;
  padding: 3px 20px;
  margin: 0px;
  z-index: 5;
}

.copyright-text {
  text-align: center;
}

/* Media Queries for Responsiveness */

/* Medium screens (tablets) */
@media (max-width: 768px) {
  .navbar {
    padding: 10px 20px;
    margin: 10px 30px;
  }

  .navbar .logo {
    font-size: 20px;
  }

  .navbar .links a {
    font-size: 12px; /* Slightly smaller font */
  }
}

/* Small screens (mobile devices) */
@media (max-width: 480px) {
  .navbar {
    padding: 8px 15px;
    margin: 10px 15px 0px 15px;
    width: auto !important;
  }

  .navbar .logo {
    font-size: 12px;
  }

  .navbar .links {
    gap: 5px; /* Reduce space between links */
  }

  .navbar .links a {
    font-size: 8px; /* Make the links smaller */
  }
}
